NODE_ENV=development
APP_PORT=3000

DB_PG_HOST=localhost
DB_PG_PORT=5432
DB_PG_USERNAME=postgres
DB_PG_PASSWORD=your_password_here
DB_PG_NAME=cadastro_documentos
DB_PG_SCHEMA=public
DB_PG_SYNCHRONIZE=true
